[Unit]
Description=Coldplug udev Block Devices
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd-kernel.socket systemd-udevd-control.socket
Before=sysinit.target
ConditionPathIsReadWrite=/sys

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-udevadm trigger --type=devices --action=add --subsystem-match=block
