[Unit]
Description=Update vendor firmware
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service boot-efi.mount
Before=systemd-udev-trigger.service sysinit.target shutdown.target
ConditionDirectoryNotEmpty=/boot/efi/vendorfw

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/update-vendor-firmware
